////////////	<- this is comments
// Icons
////////////

101  ICON  MOVEABLE PURE   "Asientos.ico"
102  ICON  MOVEABLE PURE   "Balance de Situacion.ico"
103  ICON  MOVEABLE PURE   "Calculo y Contabilizacion.ico"
104  ICON  MOVEABLE PURE   "Cartera de Cobros.ico"
105  ICON  MOVEABLE PURE   "Cartera de Pagos.ico"
106  ICON  MOVEABLE PURE   "Centros de Coste.ico"
107  ICON  MOVEABLE PURE   "Cobros Pendientes.ico"
108  ICON  MOVEABLE PURE   "Compensar Cliente.ico"
109  ICON  MOVEABLE PURE   "Cuenta de Explotacion CC.ico"
110  ICON  MOVEABLE PURE   "Cuenta de Explotacion.ico"
111  ICON  MOVEABLE PURE   "Elementos.ico"
112  ICON  MOVEABLE PURE   "Extracto Bancario.ico"
113  ICON  MOVEABLE PURE   "Extractos.ico"
114  ICON  MOVEABLE PURE   "Emitidas.ico"
115  ICON  MOVEABLE PURE   "Recibidas.ico"
116  ICON  MOVEABLE PURE   "Libro Emitidas.ico"
117  ICON  MOVEABLE PURE   "Libro Recibidas.ico"
118  ICON  MOVEABLE PURE   "Liquidacion IVA.ico"
119  ICON  MOVEABLE PURE   "Pagos pendientes.ico"
120  ICON  MOVEABLE PURE   "Perdidas y Ganancias.ico"
121  ICON  MOVEABLE PURE   "Plan Contable.ico"
122  ICON  MOVEABLE PURE   "Punteo.ico"
123  ICON  MOVEABLE PURE   "Realizar Cobro.ico"
124  ICON  MOVEABLE PURE   "Realizar Pago.ico"
125  ICON  MOVEABLE PURE   "Recepcion Talones.ico"
126  ICON  MOVEABLE PURE   "Reclamaciones.ico"
127  ICON  MOVEABLE PURE   "Remesas Talones.ico"
128  ICON  MOVEABLE PURE   "Remesas.ico"
129  ICON  MOVEABLE PURE   "Situacion Tesoreria.ico"
130  ICON  MOVEABLE PURE   "Sumas y Saldos.ico"

