////////////	<- this is comments
// Icons
////////////

101  ICON  MOVEABLE PURE   "window_view.ico"
102  ICON  MOVEABLE PURE   "window_earth.ico"
103  ICON  MOVEABLE PURE   "window_add.ico"
104  ICON  MOVEABLE PURE   "window_edit.ico"
105  ICON  MOVEABLE PURE   "window_delete.ico"
106  ICON  MOVEABLE PURE   "primer.ico"
107  ICON  MOVEABLE PURE   "anterior.ico"
108  ICON  MOVEABLE PURE   "següent.ico"
109  ICON  MOVEABLE PURE   "últim.ico"
110  ICON  MOVEABLE PURE   "imprimir.ico"
111  ICON  MOVEABLE PURE   "imprimir.ico"
112  ICON  MOVEABLE PURE   "imprimir.ico"
113  ICON  MOVEABLE PURE   "imprimir.ico"
114  ICON  MOVEABLE PURE   "imprimir.ico"
115  ICON  MOVEABLE PURE   "imprimir.ico"
116  ICON  MOVEABLE PURE   "imprimir.ico"
117  ICON  MOVEABLE PURE   "imprimir.ico"
118  ICON  MOVEABLE PURE   "imprimir.ico"
119  ICON  MOVEABLE PURE   "imprimir.ico"
120  ICON  MOVEABLE PURE   "imprimir.ico"
121  ICON  MOVEABLE PURE   "imprimir.ico"
122  ICON  MOVEABLE PURE   "imprimir.ico"
123  ICON  MOVEABLE PURE   "imprimir.ico"
124  ICON  MOVEABLE PURE   "imprimir.ico"
125  ICON  MOVEABLE PURE   "imprimir.ico"
126  ICON  MOVEABLE PURE   "imprimir.ico"
127  ICON  MOVEABLE PURE   "imprimir.ico"
128  ICON  MOVEABLE PURE   "imprimir.ico"
129  ICON  MOVEABLE PURE   "imprimir.ico"
130  ICON  MOVEABLE PURE   "imprimir.ico"
131  ICON  MOVEABLE PURE   "imprimir.ico"
132  ICON  MOVEABLE PURE   "imprimir.ico"
133  ICON  MOVEABLE PURE   "imprimir.ico"
134  ICON  MOVEABLE PURE   "imprimir.ico"
135  ICON  MOVEABLE PURE   "imprimir.ico"
136  ICON  MOVEABLE PURE   "imprimir.ico"
137  ICON  MOVEABLE PURE   "imprimir.ico"
138  ICON  MOVEABLE PURE   "imprimir.ico"
139  ICON  MOVEABLE PURE   "imprimir.ico"
140  ICON  MOVEABLE PURE   "imprimir.ico"
141  ICON  MOVEABLE PURE   "imprimir.ico"
142  ICON  MOVEABLE PURE   "imprimir.ico"
143  ICON  MOVEABLE PURE   "imprimir.ico"
144  ICON  MOVEABLE PURE   "imprimir.ico"
145  ICON  MOVEABLE PURE   "imprimir.ico"
146  ICON  MOVEABLE PURE   "imprimir.ico"
147  ICON  MOVEABLE PURE   "imprimir.ico"
148  ICON  MOVEABLE PURE   "imprimir.ico"

