////////////	<- this is comments
// Icons
////////////

101  ICON  MOVEABLE PURE   "window_view_BN.ico"
102  ICON  MOVEABLE PURE   "window_earth_BN.ico"
103  ICON  MOVEABLE PURE   "window_add_BN.ico"
104  ICON  MOVEABLE PURE   "window_edit_BN.ico"
105  ICON  MOVEABLE PURE   "window_delete_BN.ico"
106  ICON  MOVEABLE PURE   "primer_BN.ico"
107  ICON  MOVEABLE PURE   "anterior_BN.ico"
108  ICON  MOVEABLE PURE   "següent_BN.ico"
109  ICON  MOVEABLE PURE   "últim_BN.ico"
110  ICON  MOVEABLE PURE   "preferences_BN.ico"
111  ICON  MOVEABLE PURE   "copy_BN.ico"
112  ICON  MOVEABLE PURE   "document_plain_BN.ico"
113  ICON  MOVEABLE PURE   "document_into_BN.ico"
114  ICON  MOVEABLE PURE   "document_error_BN.ico"
115  ICON  MOVEABLE PURE   "eixir_BN.ico"
116  ICON  MOVEABLE PURE   "imprimir_BN.ico"
117  ICON  MOVEABLE PURE   "camera_BN.ico"
118  ICON  MOVEABLE PURE   "check_BN.ico"
119  ICON  MOVEABLE PURE   "folder_view_BN.ico"
120  ICON  MOVEABLE PURE   "folder_preferences_BN.ico"
121  ICON  MOVEABLE PURE   "gear_BN.ico" 
122  ICON  MOVEABLE PURE   "calculator_BN.ico"
123  ICON  MOVEABLE PURE   "calendar_BN.ico"
124  ICON  MOVEABLE PURE   "document_view_BN.ico"
125  ICON  MOVEABLE PURE   "conters_BN.ico"
126  ICON  MOVEABLE PURE   "help2_BN.ico"
127  ICON  MOVEABLE PURE   "mail_forward_BN.ico"
128  ICON  MOVEABLE PURE   "disk_blue_BN.ico"
129  ICON  MOVEABLE PURE   "buscar_BN.ico"
130  ICON  MOVEABLE PURE   "table_selection_row_BN.ico"
131  ICON  MOVEABLE PURE   "address_book2_BN.ico"
132  ICON  MOVEABLE PURE   "window_sidebar_BN.ico"
133  ICON  MOVEABLE PURE   "warning_BN.ico"
134  ICON  MOVEABLE PURE   "stop_BN.ico"
135  ICON  MOVEABLE PURE   "windows_BN.ico"
136  ICON  MOVEABLE PURE   "window_new_BN.ico"
137  ICON  MOVEABLE PURE   "window_preferences_BN.ico"
138  ICON  MOVEABLE PURE   "window_split_hor_BN.ico"
139  ICON  MOVEABLE PURE   "window_split_ver_BN.ico"
140  ICON  MOVEABLE PURE   "window_star_BN.ico"
141  ICON  MOVEABLE PURE   "window_time_BN.ico"
142  ICON  MOVEABLE PURE   "window_warning_BN.ico"
143  ICON  MOVEABLE PURE   "window_BN.ico"
144  ICON  MOVEABLE PURE   "window_colors_BN.ico"
145  ICON  MOVEABLE PURE   "window_dialog_BN.ico"
146  ICON  MOVEABLE PURE   "window_environment_BN.ico"
147  ICON  MOVEABLE PURE   "window_gear_BN.ico"
148  ICON  MOVEABLE PURE   "window_information_BN.ico"
149  ICON  MOVEABLE PURE   "nav_down_blue_BN.ico"
150  ICON  MOVEABLE PURE   "nav_up_blue_BN.ico"
151  ICON  MOVEABLE PURE   "document_BN.ico"
152  ICON  MOVEABLE PURE   "document_add_BN.ico"
153  ICON  MOVEABLE PURE   "document_delete_BN.ico"
